
img{
  display: none;
}

body{
  background-color: white;
  color: black;
  font-size: 1.25em;
  margin: 2em;
}

.news{
  display: none;
}

#nav{
  display: none;
}

#sidebar{
  display: none;
}

@media print{
  a:after {
    content: " ("attr(href)") ";
  }
}